
.idlePanel {
    height: 400px;
    width: 800px;
    color: #bca074;
    position: relative;
}

.bettingMessage {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.displayingPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    color: #fafafa;
    font-size: 48px;
}


.bettingPanel {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showResultPanel {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    font-size: 48px;
}

.vs {
    color: #d4b37f;
}

.pcBetSymbol {
    margin-right: 30px;
}

.playerBets {
    margin-left: 30px;
}

.winText {
    font-size: 52px;
    color: #17be58;
}

.youWin {
    font-size: 48px;
    color: #c0a476;
}

.timer {
    font-size: 24px;
    color: white;
}
