
.circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 4px solid #225eff;
    color: #000;
    font: 24px Arial, sans-serif;
    display: flex;
    align-items: center;
}
